.carouselContainer {
    width: 100%;
    margin-top: 20px;
    max-height: 300px;
    overflow: hidden;
   
  }
  
  .slide {
    
    display: flex !important;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100%;
    background: linear-gradient(to right, #fff, #053750);
   
  }
  
  .imageContainer {
    width: 50%;
    height: auto;
    
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
 
  
  .infoContainer {
    
    padding: 20px;
    text-align: center;
    color: white;
    /* flex: 1; */
    /* z-index: 1; */
    /* width: auto; */
    width: 40%;
    height: auto;
    animation: slideIn 1s forwards;
    
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%); /* Start from the right */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* Move to the original position */
      opacity: 1;
    }
  }

 
  
  /* Responsive Styling */
  @media screen and (max-width: 768px) {
    .slide {
      flex-direction: column; /* Stack the content in a column on smaller screens */
    }
  
    .infoContainer {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  }