/* BackGroundLayout.module.css */
.layout-container {
    padding: 20px;
    height: 95vh;
    
  }

  .layout-container img{
    opacity: 0.1;
    z-index: -1;
  }
  
  @media (max-width: 768px) {
    .layout-container {
        padding: 20px;
        height: 95vh;
        
      }
    .d-flex {
      flex-direction: column;
      align-items: center;
      
    }
  
    .img-fluid {
      margin-bottom: 10px;
    }
  }
  