/* LatestUpdate.css */

  

  .latest-updates{
    /* margin-top: 10%; */
    overflow: hidden;
    height: 500px;
  }
  @keyframes moveFromBottom {
    0% { transform: translateY(100%); }
   /* 50% { transform: translateY(-100%); } */
    100% { transform: translateY(-100%); } 
  }
  
  .event-item {
    animation: moveFromBottom 20s infinite linear;
    overflow-y: hidden;
    text-align: left;
    
  }
  
  .event-item:hover {
    animation-play-state: paused;
  }


  .event-item li {
    list-style: none;
  }