/* OurCourses.module.css */
.images-container {
  display: flex;
  flex-direction: column; /* Stack images vertically by default */
}

.our-courses-container {
  padding: 20px;
  display: flex;
  align-items: center; /* Center content vertically */
}

.vertical-strip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Add margin for spacing between text and images */
}

.vertical-strip h2 {
  font-size: 24px; /* Adjust font size for smaller screens */
  text-transform: uppercase; /* Convert text to uppercase */
  writing-mode: vertical-rl; /* Set vertical writing mode */
  text-orientation: mixed; /* Adjust text orientation */
  color: #053750; /* Set text color */
  font-weight: bold; /* Set font weight */
  letter-spacing: 2px; /* Adjust letter spacing */
  margin-bottom: 10px; /* Add margin for spacing */
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-images {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.top-images img {
  margin-right: 20px; /* Add margin between images */
  border-radius: 8px; /* Add border radius for images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for images */
}

.bottom-image {
  width: 100%; /* Make bottom image full width */
  max-width: 225px; /* Limit bottom image width for better display */
  margin: 0 auto; /* Center bottom image */
}

@media (min-width: 768px) {
  .images-container {
    flex-direction: row; /* Align images side by side on larger screens */
  }
}
